# Dependencies
/vendor/

# IDE
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Testing
/.phpunit.cache/
/.pest/
/coverage/
.phpunit.result.cache
phpunit.xml

# Static Analysis
phpstan.neon

# Build artifacts
/build/
*.cache

# Environment
.env
.env.*
!.env.example

# Composer
composer.lock

# Claude
claude.md
CLAUDE.md